@import url('https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700');

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(0, 0, 0, 0.05);
  height: 100%;
}

/* FONT CSS PROPERTY 
font: font-style font-variant font-weight font-size/line-height font-family
font: normal normal 600 1.4rem/3  'Open Sans', sans-serif;
*/

h1 {
  font: normal normal 400 2rem/3  'Open Sans', sans-serif;
}

h2 {
  font: normal normal 400 1.8rem/3  'Open Sans', sans-serif;
}

h3 {
  font: normal normal 500 1.4rem/3  'Open Sans', sans-serif;
}

h4 {
  font: normal normal 600 1.4rem/3  'Open Sans', sans-serif;
}

a {
  color: rgba(0, 110, 182, 1);
  font-weight: 600;
  text-decoration: none;
}
/* Smartphones (portrait and landscape) ----------- */

/* @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body {
  }
} */

/* Tablets (portrait and landscape) ----------- */

/* @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  body {
  }
} */

/* Desktops and Laptops ----------- */

/* @media only screen and (min-width: 1224px) {
  body {
  }
} */

/* Large screens ----------- */

/* @media only screen and (min-width: 1824px) {
  body {
  }
} */
