@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Roboto:400,100,200,300,500,700');

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(0, 0, 0, 0.05);
  height: 100%;
}

h1 {
  font-weight: 400;
}

.CalendarDay__highlighted_calendar {
  background: #82e0aa;
  color: #186a3b;
}

.CalendarDay__highlighted_calendar:hover {
  background: #58d68d;
  color: #186a3b;
}

.CalendarDay__highlighted_calendar:active {
  background: #58d68d;
  color: #186a3b;
}

/* Smartphones (portrait and landscape) ----------- */

/* @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body {
  }
} */

/* Tablets (portrait and landscape) ----------- */

/* @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  body {
  }
} */

/* Desktops and Laptops ----------- */

/* @media only screen and (min-width: 1224px) {
  body {
  }
} */

/* Large screens ----------- */

/* @media only screen and (min-width: 1824px) {
  body {
  }
} */
