.ProgressWrap {
  color: #444;
  margin-top: 3rem;
  margin-bottom: 5rem;
  margin-left: 6rem;
  max-width: 1200px;
}

ul.ProgressBar li {
  color: #ccc;
  display: block;
  font-size: 16px;
  font-weight: 600;
  padding: 14px 20px 14px 80px;
  position: relative;
}

ul.ProgressBar li:before {
  background: #ddd;
  border: 2px solid #fff;
  border-radius: 50%;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  left: 20px;
  line-height: 37px;
  height: 35px;
  position: absolute;
  text-align: left;
  /* text-shadow: 1px 1px rgba(0, 0, 0, 0.2); */
  top: 4px;
  width: 35px;
  z-index: 1;
  box-shadow: -4px 0px 0px 0px #ddd;
}

ul.ProgressBar li:last-child:after {
  width: 76%;
  height: 20px;
  position: absolute;
  top: -58px;
  background-color: inherit;
  content: '';
}

ul.ProgressBar li.Active {
  color: #006eb6;
  font-weight: bold;
}

ul.ProgressBar li.ActiveBlack:before {
  background: #000000;
  z-index: 2;
  box-shadow: -4px 0px 0px 0px #006eb6;
}

ul.ProgressBar li.ActiveBlue:before {
  background: #006eb6;
  z-index: 2;
  box-shadow: -4px 0px 0px 0px #006eb6;
}

ul.ProgressBar li.ActiveGreen:before {
  background: #8bc53f;
  z-index: 2;
  box-shadow: -4px 0px 0px 0px #006eb6;
}

ul.ProgressBar li.ActiveOrange:before {
  background: #ff9900;
  z-index: 2;
  box-shadow: -4px 0px 0px 0px #006eb6;
}

ul.ProgressBar li.ActiveRed:before {
  background: #a00000;
  z-index: 2;
  box-shadow: -4px 0px 0px 0px #006eb6;
}

ul.ProgressBar li.ActiveYellow:before {
  background: #ffee00;
  z-index: 2;
  box-shadow: -4px 0px 0px 0px #006eb6;
}

ul.ProgressBar li.Visited {
  background: #006eb6;
  color: #57aed1;
  z-index: 2;
}

ul.ProgressBar li.Visited:before {
  background: #006eb6;
  z-index: 2;
  box-shadow: -4px 0px 0px 0px #006eb6;
}

ul.ProgressBar li.VisitedBlack {
  background: #000000;
  color: #57aed1;
  z-index: 2;
}

ul.ProgressBar li.VisitedBlack:before {
  background: #000000;
  z-index: 2;
  box-shadow: -4px 0px 0px 0px #006eb6;
}

ul.ProgressBar li.VisitedBlue {
  background: #006eb6;
  color: #57aed1;
  z-index: 2;
}

ul.ProgressBar li.VisitedBlue:before {
  background: #006eb6;
  z-index: 2;
  box-shadow: -4px 0px 0px 0px #006eb6;
}

ul.ProgressBar li.VisitedGreen {
  background: #8bc53f;
  color: #57aed1;
  z-index: 2;
}

ul.ProgressBar li.VisitedGreen:before {
  background: #8bc53f;
  z-index: 2;
  box-shadow: -4px 0px 0px 0px #006eb6;
}

ul.ProgressBar li.VisitedOrange {
  background: #ff9900;
  color: #57aed1;
  z-index: 2;
}

ul.ProgressBar li.VisitedOrange:before {
  background: #ff9900;
  z-index: 2;
  box-shadow: -4px 0px 0px 0px #006eb6;
}

ul.ProgressBar li.VisitedRed {
  background: #a00000;
  color: #57aed1;
  z-index: 2;
}

ul.ProgressBar li.VisitedRed:before {
  background: #a00000;
  z-index: 2;
  box-shadow: -4px 0px 0px 0px #006eb6;
}

ul.ProgressBar li.VisitedYellow {
  background: #ffee00;
  color: #57aed1;
  z-index: 2;
}

ul.ProgressBar li.VisitedYellow:before {
  background: #ffee00;
  z-index: 2;
  box-shadow: -4px 0px 0px 0px #006eb6;
}

/* ul.ProgressBar li:nth-child(1):before {
  content: 'Scheduled';
}

ul.ProgressBar li:nth-child(2):before {
  content: 'Assigned';
}

ul.ProgressBar li:nth-child(3):before {
  content: 'Started';
}

ul.ProgressBar li:nth-child(4):before {
  content: 'Completed';
}

ul.ProgressBar li:nth-child(5):before {
  content: 'Invoiced';
}

ul.ProgressBar li:nth-child(6):before {
  content: 'Done';
} */

ul.ProgressBar li:nth-child(1):before {
  content: 'Unassigned';
}

ul.ProgressBar li:nth-child(2):before {
  content: 'Pending';
}

ul.ProgressBar li:nth-child(3):before {
  content: 'Prep';
}

ul.ProgressBar li:nth-child(4):before {
  content: 'InProgress';
}

ul.ProgressBar li:nth-child(5):before {
  content: 'Closed';
}

ul.ProgressBar li:nth-child(6):before {
  content: 'Done';
}

@media all {
  .ProgressBar li.Active:after,
  .ProgressBar li.ActiveBlack:after,
  .ProgressBar li.ActiveBlue:after,
  .ProgressBar li.ActiveGreen:after,
  .ProgressBar li.ActiveOrange:after,
  .ProgressBar li.ActiveRed:after,
  .ProgressBar li.ActiveYellow:after {
    background-size: 35px 35px;
    content: '';
    height: 5px;
    width: 100%;
    left: 50%;
    position: absolute;
    top: -50px;
    z-index: 0;
  }

  ul.ProgressBar {
    background-size: 35px 35px;
    background-color: #ececec;
    border-radius: 15px;
    height: 5px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 90%;
  }

  ul.ProgressBar:before {
    background-size: 35px 35px;
    background-color: #006eb6;
    border-radius: 15px;
    content: ' ';
    height: 5px;
    left: 0;
    position: absolute;
    width: 10%;
  }

  ul.ProgressBar li {
    display: inline-block;
    margin: 50px 0 0;
    padding: 0;
    text-align: center;
    width: 19%;
  }

  ul.ProgressBar li:before {
    height: 31px;
    left: 40%;
    line-height: 100px;
    position: absolute;
    top: -65px;
    width: 31px;
    z-index: 1;
  }

  ul.ProgressBar li.Visited,
  ul.ProgressBar li.VisitedBlack,
  ul.ProgressBar li.VisitedBlue,
  ul.ProgressBar li.VisitedGreen,
  ul.ProgressBar li.VisitedOrange,
  ul.ProgressBar li.VisitedRed,
  ul.ProgressBar li.VisitedYellow {
    background: none;
  }

  ul.ProgressBar li.Visited:after,
  ul.ProgressBar li.VisitedBlack:after,
  ul.ProgressBar li.VisitedBlue:after,
  ul.ProgressBar li.VisitedGreen:after,
  ul.ProgressBar li.VisitedOrange:after,
  ul.ProgressBar li.VisitedRed:after,
  ul.ProgressBar li.VisitedYellow:after {
    background-size: 35px 35px;
    background-color: #006eb6;
    content: '';
    height: 5px;
    left: 50%;
    position: absolute;
    top: -50px;
    width: 100%;
    z-index: 1;
  }
}
