.Dashboard {
  background-color: rgba(255, 255, 255, 1);
  border: none;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin: 0 4rem;
  padding: 20px;
}


.container {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.title {
  margin-bottom: 1.5rem;
  text-align: center;
  width: 100%;
}

.widget {
  align-items: center;
  background-color: black;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-flow: column nowrap;
  height: 300px;
  justify-content: center;
  margin: 1.5rem 0;
  width: 300px;
}
