.MenuItem {
  box-sizing: border-box;
  display: block;
  margin: 10px 0;
  width: 100%;
}

.MenuItem a {
  box-sizing: border-box;
  color: #000;
  display: block;
  text-decoration: none;
  width: 100%;
}

.MenuItem a:hover,
.MenuItem a:active,
.MenuItem a.active {
  color: rgba(0, 110, 182, 1);
}

@media (min-width: 500px) {
  .MenuItem {
    align-items: center;
    display: flex;
    /* height: 100%; */
    margin: 0;
    /* width: auto; */
    width: 100%;
  }

  .MenuItem a {
    border-bottom: 4px solid transparent;
    color: #ffffff;
    font-weight: 400;
    height: 100%;
    padding: 16px 10px;
  }

  .MenuItem a:hover,
  .MenuItem a:active,
  .MenuItem a.active {
    background: #333;
    border-bottom: 4px solid rgba(0, 110, 182, 1);
    color: #ffffff;
  }
}
