.Modal {
  position: fixed;
  z-index: 500;
  background-color: white;
  width: 80%;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  padding: 16px;
  left: 10%;
  top: 20%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}

/*FULL SCREEN MODAL
 .Modal {
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  height: 100%;
  left: 0;
  margin: 0 auto;
  padding: 16px;
  position: fixed;
  top: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  width: 100%;
  z-index: 500;
} 
*/

@media (min-width: 600px) {
  .Modal {
    width: 500px;
    left: calc(50% - 250px);
  }
}
