.Portal {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: calc(100% - 240px);
}

.PortalTitle {
  margin-bottom: 2rem;
}

.VerifyMessage {
  color: white;
}

.VerifyMessageContainer {
  align-items: center;
  background-color: rgba(146, 0, 0, .6);
  border-radius: 5px;
  color: white;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 2rem;
  padding: 1rem 20px;
  width: calc(100% - 120px);
}