.Autocomplete {
  margin-top: -45px;
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.AutocompleteContainer {
  height: 100%;
  width: 100%;
}

.AutocompleteWrapper {
  width: 300px;
  height: 300px;
  display: flex;
  flex-flow: column wrap;
}

.AutocompleteForm {
  margin: 0 auto;
  position: relative;
  height: 30px;
  width: 100%;
}

.AutocompleteForm input {
  height: 100%;
  font-size: 1.1rem;
  margin-right: 10px;
}

/* .AutocompleteForm input[type='text'] {
  width: 80%;
} */
