.Fullscreen {
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  box-sizing: border-box;
  max-height: 80%;
  position: fixed;
  top: 5%;
  transition: all 0.3s ease-out;
  z-index: 999;
} 
  
  @media (max-width: 500px) {
    .Fullscreen {
      height: 100%;
      max-height: 70%;
      max-width: 70%;
    }
  }

  .FullScreenImage {
    background-size: cover;
    height: -moz-fill-available;
    height: -webkit-fill-available;
  }