.Location {
  background-color: rgba(255, 255, 255, 1);
  border: none;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin: 0 auto;
  margin-bottom: 4rem;
}

.LocationDetails {
  padding: 20px;
}

/* Top, Right, Bottom, Left */
.LocationMap {
  height: 300px;
  margin-bottom: 0 0 20px 0;
  padding: 0;
  position: relative; 
  width: 100%;
}
