.ToggleDrawer {
  width: 2.25rem;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
  box-sizing: border-box;
  cursor: pointer;
}

.ToggleDrawer div {
  width: 80%;
  height: 3px;
  border-radius: 5px;
  background-color: white;
}

@media (min-width: 500px) {
  .ToggleDrawer {
    display: none;
  }
}
