.FloatingButtonActions {
    align-items: center;
    background-color: rgba(0, 110, 182, 1);
    border: none;
    border-radius: 50px;
    bottom: 40px;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    height: 60px;
    justify-content: center;
    outline: none;
    position: fixed;
    right: 40px;
    text-align: center;
    /* cubic-bezier(x1, y1, x2, y2) */
    transition: all .5s cubic-bezier(.4, 0, .2, 1);
    width: 60px;
    z-index: 80;
}

.FloatingButtonAction {

}

.FloatingButtonAction:active, .FloatingButtonAction:focus, .FloatingButtonAction:hover {
    background-color: #aaa;
    color: #333;
    cursor: pointer;
}