.TicketForm {
}

.TicketFormInputContainer {
  margin-top: 1.5rem;
}

.TicketFormAddLocation {
  box-sizing: inherit;
  padding: 10px;
  width: 100%;
}

.TicketFormAddLocationLabel {
  display: block;
  font-weight: bold;
  margin-bottom: 14px;
}

.TicketFormAddLocationButton {
  background-color: #006eb6;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  padding: 6px 10px;
  text-decoration: none;
}
