.Button {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  /* FOR TOUCH STYLES ON SAFARI AND CHROME 
  -webkit-tap-highlight-color: transparent; */
  /* PASS TOUCH EVENTS TO JAVASCRIPT 
  touch-action: none;*/
}

.Button:first-of-type {
  margin-left: 0;
  padding-left: 0;
}

.Button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.Success {
  color: #5c9210;
}

.Failure {
  color: #944317;
}

.Upload {
  color: rgba(0, 110, 182, 1);
}
