.CompanyForm { 
    background-color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .16), 0 6px 12px rgba(0, 0, 0, .32);
    height: 100%;
    margin: 0 4rem;
    padding: 20px;
}