.Fullscreen {
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  left: 10%;
  margin: 0 auto;
  overflow: hidden;
  position: fixed;
  top: 10%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  z-index: 999;
} 

  
  @media (min-width: 600px) {
    .Fullscreen {
      height: inherit;
      width: inherit;
      max-height: 80%;
      max-width: 80%;
    }
  }

  .FullScreenImage {
    background-size: cover;
    height: 100%;
    width: 100%;
  }
  
  [aspect*="--aspect-ratio"] > :first-child {
    width: 100%;
  }

  [aspect*="--aspect-ratio"] > img {  
    height: auto;
  } 

  @supports (--custom:property) {
    [aspect*="--aspect-ratio"] {
      position: relative;
    }

    [aspect*="--aspect-ratio"]::before {
      content: "";
      display: block;
      padding-bottom: calc(100% / (var(--aspect-ratio)));
    }  

    [aspect*="--aspect-ratio"] > :first-child {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
    }  
  }